<div style="margin: 16px;">
	<div>Vertical:</div> 
  <select #vertical>
    <option value=""></option>
    <option *ngFor="let col of columns" value="{{col}}">{{col}}</option>
  </select>
  <button type="button" (click)="addSelectedVertical(vertical.value)">+</button>
  <span *ngFor="let sel of selectedVertical" class="selectedItem">{{sel}} <button type="button" (click)="deleteVertical(sel)">-</button></span>
</div>
<div style="margin: 16px;">
	<div>Horizontal:</div> 
  <select #horizontal>
    <option value=""></option>
    <option *ngFor="let col of columns" value="{{col}}">{{col}}</option>
  </select>
  <button type="button" (click)="addSelectedHorizontal(horizontal.value)">+</button>
  <span *ngFor="let sel of selectedHorizontal" class="selectedItem">{{sel}} <button type="button" (click)="deleteHorizontal(sel)">-</button></span>
</div>
